.SearchTableItemMetadataContainer {
  margin-top: 2px;
}

.SearchTableItemMetadataHeader {
  font-size: smaller;
  line-height: 14px;
  color: #505050;
  width: 100%;
}

.SearchTableItemMetadata {
  margin-left: 5px;
  font-size: smaller;
  /* line-height: 0.5em; */
  color: dimgray;
  width: 100%;
}
