.dashboardCollectionListHeaderTitleSelect {
  font-size: small;
  margin-left: 40px;
}

.dashboardCollectionListHeaderSortByForm.MuiFormControl-root {
  /* display: inline-flex; */
  font-size: small;
  margin: 1px 10px;
  min-width: 175px;
  /* vertical-align: baseline; */
}

.dashboardCollectionListHeaderSortByForm.MuiFormControl-root > div > .MuiSelect-root {
  padding: 2px 7px;
}
